body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #fff;
    /* background-color: darkgray; */
}

div{
    display: block;
}



table{
    /*margin-top: 4px;*/
    width: 100%;
}



